* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --branco: #fff;
    --preto: #000;
    --icons: #bf8c36;
    --texto: #6c4b3b;
    --caixa: #c8a66e;

}

body{
    background-color: var(--fundo-site);
}


/* HEADER */

header{
    width: 100%;
    background-color: #000;
}

header>div.container-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
    background-color: #000;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

#logo{
    width: 155px;
}

.links{
    /* para centralizar o menu */
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a{
    font-size: 25px;
    color: var(--branco);
    text-decoration: none;
}
.links a:hover{
    color: var(--icons);
    border-bottom: 1px solid var(--icons);
}


#icone-barras,
#icone-x,
#menu_botao{
    display: none;
}